#login_section {
    background-color: beige;
    width: 50%;
    height: 725px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}